#%RAML 1.0
title: Zing API
# This is the v1 of the Zing api for Zing Auto Enterprises
version: v1
protocols: [ HTTP ]
baseUri: http://au.com.zing/api
mediaType: application/json

types:
    Customer: !include resourceTypes/customer.raml
resourceTypes:
      collection: !include resourceTypes/collection.raml
/v1:
  /customers:
      get:
        description: |
          Retrieve all customers
        responses:
          200:
            body:
              type: Customer[]

          500:
            description: |
              Unable to find any customers
      post:
       description: Create a new customer
       body:
          application/json:
            type: Customer
            example: !include examples/customer.json

       responses:
        201:
          body:
            application/json:
        500:
            description: |
              Unable to create the new customer

      /{id}:
        get:
         description: Retrieve the Customer Details for the given Customer Id
         responses:
           200:
             body:
               application/json:
                 type: Customer
           404:
             description:
               Unable to find Customer Details with the given Customer id
        put:
          description: |
           Update Customer Details of the given Customer
          responses:
            200:
              body:
                application/json:
                  type: Customer
            500:
              description: |
                Unable to update Customer Details
        delete:
          description: Delete a given Customer
          responses:
            200:
              body:
                application/json:
                  type: Customer
            500:
              description:
                Unable to delete Customer
        patch:
          description: |
           Update only specific Customer details
          responses:
            200:
              body:
                application/json:
                  type: string
            500:
              description: |
                Unable to update Customer Details
